/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
@import url('https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css');

.settings_page_dailybrief .settings-form {
	line-height: 1.7;
}
.settings-header {
	font-size: 120%;
	line-height: 150%;
	margin: 10px auto;
}

#dailybrief-preview-post {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 120%;
	line-height: 150%;
	padding: 1rem 1rem 2rem 1rem;
	clear: left;
	max-width: 40rem;
	margin: 10px 10px 10px 10px;
	background: #fefefe;
	font-weight: normal;
	color: #333333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#dailybrief-preview-post #user-block {
	overflow: hidden;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 120%;
	font-weight: 800;
	line-height: 1;
	text-align: left;
	vertical-align: center;
}

#dailybrief-preview-post #steem-body > p {
	font-size: 15pt !important;
	line-height: 150%;
	margin: 0 0 1.5rem 0;
}
.dailybrief-preview-post img {
	max-width: 90%;
	display: inline-block;
	vertical-align: middle;
}

.dailybrief-preview-post > h1 {
	overflow: hidden;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 240%;
	font-weight: 800;
	line-height: 1.1;
}
.dailybrief-preview-post > h2 {
	overflow: hidden;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 200%;
	font-weight: 800;
	line-height: 1.1;
}

.dailybrief-preview-post > h1, h2, h3, h4, h5, h6 {
	line-height: 1.2 !important;
}

.settings_page_dailybrief .dailybrief-preview-post .theme-dark {
	background-color: #1C252B;
	color: #fcfcfc;
}
.dailybrief {
	width: 85%;
}
.dailybrief .settings_page_dailybrief .settings-form table {
	vert-align: top;
}
.dailybrief .dailybrief-sidebar {
	width: 15%;
	min-width: 300px;
	float: right;
	background: #efefef;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}
.dailybrief .dailybrief-sidebar .major-publishing-actions {
	padding: 15px;
	clear: both;
	border-top: 1px solid #e1e1e1;
	background: #f7f7f7;
}
.dailybrief .dailybrief-sidebar .major-publishing-actions i {
	opacity: 0.4;
	margin: 0 2px 0 0;
}

.dailybrief td, th {
	display: table-cell;
	vertical-align: top;
}

.dailybrief input[type="radio"]:checked+label { font-weight: bold; }

.dailybrief_preview_generate {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 43px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.dailybrief_preview_generate:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}
.dailybrief_preview_generate:active {
	position:relative;
	top:1px;
}
